html
  body
    form(action="../new_deck", method="post")
      table(border="1")
        tr
          th file
          th image
          th num copies
          th cardback name
          th is cardback (name)
        each file, i in images
          tr
            td!= file
            td
              img(src='#{dir}/#{file}')
            td
              if i == 0
                - var value = 0
              else
                - var value = 1
              input(type="text", name='copies-#{file}', value="#{value}", style="width:30px")
            td
              input(type="text", name='which_cardback-#{file}', value="default", style="width:80px")
            td
              if i == 0
                - var value = "default"
              else
                - var value = ""
              input(type="text", name='is_cardback-#{file}', value='#{value}', style="width:80px")
      input(type="submit", value="Submit")
